.container {
	width: 45rem;
	height: 40rem;
	margin: auto;
}
.top{
	text-align: right;
	
}


input[type="submit"]{
	padding-left: 0;
	background-color: #35c754;
  font-weight: lighter;
	margin-bottom: 2rem;
  width: 100%;
  font-size: 25px;
	height: 3rem;
  cursor: pointer;
  color: white;
}
