*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header styling */

ul{
    list-style-type: none;
}

 li{
    display: inline-block;
    cursor: pointer;
}

header{
    height: 8rem;
}

header .heading{
    padding-left: 20px;
    height: 65%;
    background: rgb(116,211,255);
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
}

.heading--head{
    background: rgb(116,211,255);
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;

}

 .leftside{
    display: flex;
    align-items: center;

}

 a{
    text-decoration: none;
    font-size: 2.5rem;
    color: black;
    letter-spacing: 5px;
    margin-right: 18px;

}

 input[type=text]{
    border: none;
    outline: none;
    width: 50%;
    padding: 5px 15px;
    font-size: 12px;
    background: rgb(197,229,248);
    border-radius: 50px;
    margin-right: 10px;
}

header .heading .leftside input[type=submit]{
    background: black;
    border-radius: 10px;
    outline: none;
    border-radius: none;
    padding: 5px 15px;
    color: #ffffff;
    cursor: pointer;

}

header .heading .rightside{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

header .heading .rightside p{
    font-weight: 300;
    font-size: 1.2rem;
}

header .heading .rightside ul li{
    padding: 1px;
    font-size: 0.8em;
}

header .heading .rightside ul li: hover{
    color: #ffffff;
}

header nav{
    display: grid;
    grid-template-columns: 4fr 2fr;
    background: rgb(240,240,240);

}
header nav .lists ul li{
    padding: 10px 20px;
}

.frndrqst{
    color: rgb(78,78,78);

}

header navbar .lists ul li:hover
{
    color: rgb(49, 49, 49);
    background: #ffffff;
}

.infobar
{
    padding: 10px;
    font-size: 0.8em;
}
header navbar .infobar ul li
{
    float: right;
    margin-right: 35px;
}




.body-content
{
    padding: 3rem;
    display: flex;
    justify-content: space-between;
}

 .content
{
    margin: 0 15px;
}
 .searches
{
    width: 20%;
    background: rgb(240, 240, 240);
}
 .recentsearches .topic
{
    background: rgb(90, 160, 250);
    width: 100%;
    padding: 15px 20px;
}

 .topic:hover
{
    background: rgb(90, 160, 250);
}
.body-content .searches .recentsearches li
{
    width: 100%;
    padding: 15px 10px;
}


.searches li:hover
{
    background-color: #ffffff;
}


.body-content .tutorials 
{
    width: 20%;
    background: rgb(240, 240, 240);
}


